# Configuración para conectarse a mongo db atlas
URI_DB=mongodb+srv://user:password@cluster-url/database-name?retryWrites=true&w=majority

# Configuración para conectarse a una base de datos local de MongoDB
URI_DB=mongodb://localhost:27017/nombre-de-la-base-de-datos


# Configuración de Cloudinary para imágenes
CLOUDNAME=nombre-de-la-nube
APIKEY=clave-de-la-api
APISECRET=clave-secreta